 *{margin: 0px;
  padding: 0px;
}
 
 
.main{
  height: 100%;
  width: 1250px;
  background-image: url(../images/shutterstock_304351451.jpg);
  margin: auto;
  background-size: cover;
}

.header{
    
    width:  1250px;
    height: 100px;
    margin: auto;
    float: left;
   }

.logo{ 
  width: 250px;
  height: 100px;
  cursor: pointer;
  text-align: center;
  color: rgb(71, 7, 7);
  font-size: 15px;
  margin-top: 55px;
  float: left;
  /* margin-right: 30px; */
 


}

.menu{
  width: 900px;
  height: 150px;
  float: left;
  font-size: medium;
  margin-top: 0px;
  /* margin-left: 100px; */
  color: aqua;
}

.menu ul li{
   height: 150px;
   width: 180px;
   list-style: none;
   float: left;
   text-align: center;
   margin-top: 50px;
   line-height: 30px;
   
   
}

menu ul li a{
        color: rgb(184, 18, 18);
}

menu ul li:hover{
    background-color: rgb(129, 203, 19);
    /* color: red; */
    border: ridge;
    
}



.content{
  width: 1250px;
  height: 600px;
}

.text1{
  width: 1250px;
  height: 300px;
 
  line-height: 450px;
  text-align: center;
  color: goldenrod;
  font-size: 30px;
  float: right;
  
}







.text2{width: 1200px;
  height: 200px;
  float: left;
  
  font-size: 25px;
  color:black;
  text-align: center;
  line-height: 0px;
  /* margin-bottom: 400px; */

}

button{height: 50px;     
  width: 150px;
  border-radius: 25px;
  text-align: center;
  background-color: rgb(62, 6, 62);
 cursor: pointer;
  color:white;
  margin-top: 20px;
  font-size: 25px;
  z-index: -1;
  transition: 0.5s;
  
}

button:hover{
  border:ridge;
  color: greenyellow;
  
  
}

/* .button span{
  width: 100%;
} */




/* span{
  background-color: brown;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.button1 span{
  width: 100%;
}

button:hover{
  border:none
}

.button1{
  width: 250px;
  height: 30px;
  background-color: rgb(61, 211, 34);
  cursor: pointer;
  border-radius: 20px;
  z-index: -1;
  transition: 0.5s;

  

} */




.footer1{
  color: white;
}

.footer2{
  color:white;
}

/* .footer3{
  float: right;
} */